<div class="logo">
    <i class="fa fa-heart"></i>
    <span>Mon Espace Parent</span>
</div>

<ul class="nav-links">
    <li class="nav-item">
        <a routerLink="/ajouter-enfant" routerLinkActive="active" class="btn-soft-pink">
            <i class="fa fa-plus-circle"></i> Ajouter un enfant
        </a>
    </li>

    <li class="nav-item">
        <a routerLink="/gerer-compte" routerLinkActive="active" class="btn-soft-blue">
            <i class="fa fa-user-cog"></i> Gérer mon compte
        </a>
    </li>
    <li class="nav-item">
        <a routerLink="/accueil" routerLinkActive="active">
            <i class="fa fa-home"></i> Accueil
        </a>
    </li>
    <li class="nav-item">
        <a routerLink="/mes-enfants" routerLinkActive="active">
            <i class="fa fa-child"></i> Mes Enfants
        </a>
    </li>

    <li class="nav-item">
        <a routerLink="/calendrier" routerLinkActive="active">
            <i class="fa fa-calendar"></i> Calendrier
        </a>
    </li>
    <li class="nav-item">
        <a routerLink="/conseils" routerLinkActive="active">
            <i class="fa fa-lightbulb"></i> Conseils & Astuces
        </a>
    </li>
    <li class="nav-item">
        <a routerLink="/chat" routerLinkActive="active">
            <i class="fa fa-robot"></i>
            <span class="link-text">Assistant AI</span>
        </a>
    </li>
</ul>

<div class="sidebar-footer">
    <p>&copy; 2026 Mon Espace Parent</p>
</div>